@model PostViewModel
@{
    ViewData["Title"] = "PostDetail";
}

<div class="card">
    
    <div class="card-header">
        @Model.Title
    </div>
    <div class="col-md-6 offset-3 mt-4 mb-4">
        @if (String.IsNullOrEmpty(Model.ImageUrl))
        {
            <img class="rounded" src="/postpictures/default_post_picture.png" width="400" />
        }
        else
        {
            <img class="rounded" src="/postpictures/@(Model.ImageUrl)" width="400" />
        }
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>@Model.Body</p>
            <footer class="blockquote-footer">@Model.CreatedDate <cite title="Source Title"></cite></footer>
        </blockquote>
    </div>
</div>

<nav class="navbar bg-body-tertiary bg-primary mt-2">
    <div class="container-fluid">
        <a class="navbar-brand text-dark">Yazarın Gönderileri&nbsp;<i class="bi bi-pencil-square"></i></a>
    </div>
</nav>
<div class="row mt-2">
    <div class="col-md-12">
        <div class="row">
            @foreach (var item in ViewBag.PostAuthor)
            {
                <div class="col-md-6 ">
                    <div class="card mb-4" style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                @if (String.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img class="rounded" src="/postpictures/default_post_picture.png" width="170" />
                                }
                                else
                                {
                                    <img class="rounded" src="/postpictures/@(item.ImageUrl)" width="170" />
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                    <p class="card-text">@item.Body.Substring(0,10)  ...</p>
                                    <p></p>
                                    <p class="card-text"><a asp-action="PostDetail" asp-route-id="@item.Id">Detay</a></p>

                                    <p class="card-text"><i class="bi bi-calendar3"><span> &emsp;</span></i><small class="text-muted">@item.CreatedDate<span><span> &emsp;</span> <i class="bi bi-sina-weibo"></i>@item.ClickCount </span> </small> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</div>