@model CommentViewModel
@{
    ViewData["Title"] = "PostDetail";
    PostViewModel viewModel = ViewBag.postView;
}


<div class="card">
    
    <div class="card-header">
        
        @viewModel.Title
    </div>
    <div class="col-md-6 offset-4 mt-4 mb-4">
        @if (String.IsNullOrEmpty(viewModel.ImageUrl))
        {
            <img class="rounded" src="/postpictures/default_post_picture.png" width="400" />
        }
        else
        {
            <img class="rounded" src="/postpictures/@(viewModel.ImageUrl)" width="400" />
        }
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>@viewModel.Body</p>
            <footer class="blockquote-footer">@viewModel.CreatedDate <cite title="Source Title"></cite>&nbsp; <a asp-action="AuthorDetail" asp-route-userName="@ViewBag.AuthorName">@ViewBag.AuthorName</a></footer>
        </blockquote>
    </div>
</div>

<form >


</form>


<nav class="navbar bg-body-tertiary bg-primary mt-2">
    <div class="container-fluid">
        <a class="navbar-brand text-dark">Yorumlar &nbsp;<i class="bi bi-pencil-square"></i></a>
    </div>
</nav>


@foreach (var item in ViewBag.PostComment)
{
    <div class="row">
        <div class="col-sm-5 col-md-6 col-12 pb-4">
            <h1>Yorum</h1>
            <div class="comment mt-4 text-justify float-left">
                <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                <h4><a asp-action="AuthorDetail2" asp-controller="Home" asp-route-id="@item.UserId">Kullanıcı</a> </h4>
                <p>@item.Text</p>
                <br>
                <span>- @item.CreatedDate</span>
            </div>

        </div>

    </div>
}


@if (User.Identity!.IsAuthenticated)
{
    <div class="mt-2">
        <form asp-action="PostDetail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Text" class="control-label"></label>
                <textarea asp-for="@Model.Text" class="form-control" rows="4"></textarea>
                <span asp-validation-for="@Model.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Yorum Yap" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>

}



@*<div class="row mt-2">
    <div class="col-md-12">
        <div class="row">
            @foreach (var item in ViewBag.PostAuthor)
            {
                <div class="col-md-6 ">
                    <div class="card mb-4" style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                @if (String.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img class="rounded" src="/postpictures/default_post_picture.png" width="170" height="170" />
                                }
                                else
                                {
                                    <img class="rounded" src="/postpictures/@(item.ImageUrl)" width="170" height="170" />
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                    <p class="card-text">@item.Body.Substring(0,10)  ...</p>
                                    <p></p>
                                    <p class="card-text"><a asp-action="PostDetail" asp-route-id="@item.Id">Detay</a></p>

                                    <p class="card-text"><i class="bi bi-calendar3"><span> &emsp;</span></i><small class="text-muted">@item.CreatedDate<span><span> &emsp;</span> <i class="bi bi-sina-weibo"></i>&nbsp;@item.ClickCount </span> </small> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</div>*@